In [ ]:
#对链路预测的结果进行处理

In [1]:
import pandas as pd

In [2]:
#define settings
path="./graph_dataset/dblp_1980/"
graph_e_data="dblp_e.csv"
graph_v_data="dblp_v_new.csv"
graph_route="wenzhi_delta_vertex_dbpedia_g_5.txt"
result="/pykeen/top_100000_testing_new.csv"
e_data=pd.read_csv(path+graph_e_data,delimiter=",")
v_data=pd.read_csv(path+graph_v_data,delimiter=",")
predict=pd.read_csv(path+result,delimiter=",")

In [3]:
#结果与label对应上
predict_new=pd.merge(pd.merge(predict,v_data,left_on="head_label",right_on="vertex_id:int"),v_data,left_on="tail_label",right_on="vertex_id:int")
predict_new.reindex(columns=["head_label","relation_label","tail_label","label_id:int_x","label_id:int_y","score","name:string_x","name:string_y"]).to_csv(path+"/pykeen/top_100000_final.csv")
predict_triple=predict_new.reindex(columns=["label_id:int_x","relation_label","label_id:int_y"])
predict_triple.value_counts().to_csv(path+"/pykeen/top_100000_group.csv")

In [27]:
#原图与label对应上
graph_new=pd.merge(pd.merge(e_data,v_data,left_on="source_id:int",right_on="vertex_id:int"),v_data,left_on="target_id:int",right_on="vertex_id:int")
graph_new.reindex(columns=["edge_id:int","source_id:int","label_id:int","target_id:int","vertex_id:int_x","label_id:int_x","vertex_id:int_y","label_id:int_y"]).to_csv(path+"/3_yago_full.csv")
graph_new=pd.read_csv(path+"3_yago_full.csv")
graph_triple=graph_new.reindex(columns=["label_id:int_y","label_id:int_x","label_id:int"])
graph_triple
graph_new

,edge_id:int,source_id:int,target_id:int,label_id:int_x,vertex_id:int_x,label_id:int_y,attr:string_x,vertex_id:int_y,label_id:int,attr:string_y
0,0,0,1,0,0,0,<Onchiam>,1,1,<Kerala>
1,2786183,1292,1,0,1292,0,<Kainakary_North>,1,1,<Kerala>
2,2942796,4743,1,0,4743,0,<Thrithala>,1,1,<Kerala>
3,5141,8236,1,0,8236,0,<Kottur_Kerala>,1,1,<Kerala>
4,2934488,8728,1,0,8728,0,<Archaeological_Museum_Thrissur>,1,1,<Kerala>
...,...,...,...,...,...,...,...,...,...,...
218595,6169538,1503767,3003951,54,1503767,9,<Bengali_language>,3003951,9,ben
218596,7108637,1503767,3410843,63,1503767,9,<Bengali_language>,3410843,9,bn
218597,6377725,1008535,3109880,63,1008535,9,<Tamil_language>,3109880,9,ta
218598,6643775,1008535,3231419,54,1008535,9,<Tamil_language>,3231419,9,tam
218599,6382669,1855176,3112361,54,1855176,9,<Bodo_language>,3112361,9,brx

In [26]:
graph_triple.value_counts().to_csv(path+"graph_analyse.csv")
#graph_new.groupby(['source_label:int',"edge_label:int","target_label:int"],as_index=False).agg({'cnt':'count'})

In [54]:
triple=predict_new.reindex(columns=["label_id:int_x","relation_label","label_id:int_y"])
lists=triple.values.tolist()

In [ ]:
#获得分组
for i in lists:
    print(i,lists.count(i))

In [4]:
#获得gar_chase的结果
gar_chase=pd.read_csv("./fxygar/fxygar_(2,1003,3)_2000/result/gar_match.csv")
gar_chase.value_counts().to_csv("./fxygar/fxygar_(2,1003,3)_2000/result/gar_match_group.csv")
gar_chase.value_counts()

src_id  edge_label  dst_id  src_label  dst_label
55041   1003        60164   2          3            16
1202    1003        67386   2          3            16
                    30856   2          3            16
                    38000   2          3            16
                    41627   2          3            16
                                                    ..
13066   1003        42130   2          3             8
                    39850   2          3             8
73679   1003        8103    2          3             8
80303   1003        18411   2          3             7
                    33120   2          3             7
Length: 7942, dtype: int64